COMPOSE_PROJECT_NAME=dev_app

APP_PATH=../../

MYSQL_ROOT_PASS=toor
MYSQL_DB=app_dev_db
MYSQL_HOST=mysql_dev_app
MYSQL_LOW_USR=user
MYSQL_LOW_USR_PASS=resu

MAILER_PASS=
MAILER_LOGIN=
MAILER_HOST=
MAILER_PORT=

MYSQL_INT_PORT=3306
MYSQL_EXT_PORT=3306

PHP_HOST: php_dev_app
PHP_INT_PORT=9000
PHP_EXT_PORT=9000

HTTP_EXT_PORT=80
HTTPS_EXT_PORT=443

HTTP_INT_PORT=80
HTTPS_INT_PORT=443

DOMAINS=dev.app
